{% extends "base.html" %}

{% block title %}
About | Nazif's Scents
{% endblock %}

{% block content %}

<section class="page-header">

    <p>OUR STORY</p>

    <h1>About Nazif's Scents</h1>

</section>

<section class="about">

    <div>

        <h2>More than just a fragrance.</h2>

        <p>
            Nazif's Scents was created with a simple idea:
            finding your perfect fragrance should be easy,
            personal and enjoyable.
        </p>

        <p>
            We offer men's, women's and unisex fragrances
            for every style and occasion.
        </p>

    </div>

    <div class="about-box">

        <h2>Our Philosophy</h2>

        <p>Quality</p>
        <p>Character</p>
        <p>Confidence</p>

    </div>

</section>

{% endblock %}