{% extends "base.html" %}

{% block title %}
About | Nazif's Scents
{% endblock %}

{% block content %}

<section class="page-header">

    <p class="eyebrow">
        OUR STORY
    </p>

    <h1>
        About Nazif's Scents
    </h1>

</section>


<section class="about">

    <div>

        <h2>
            More than just a fragrance.
        </h2>

        <p>
            Nazif's Scents was created around
            the idea that finding a fragrance
            should be simple and enjoyable.
        </p>

        <p>
            Our collection includes carefully
            selected men's and women's fragrances.
        </p>

    </div>


    <div class="about-box">

        <p class="eyebrow">
            OUR PHILOSOPHY
        </p>

        <h2>
            Quality. Character. Confidence.
        </h2>

        <p>
            Every scent should tell a story.
        </p>

    </div>

</section>

{% endblock %}