<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Nazif's Scents{% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='CSS/style.css') }}">
</head>

<body>

<header>

    <a href="{{ url_for('home') }}" class="logo">
        NAZIF'S <span>SCENTS</span>
    </a>

    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('shop') }}">Shop</a>
        <a href="{{ url_for('men') }}">Men's</a>
        <a href="{{ url_for('women') }}">Women's</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>

    <a href="{{ url_for('cart') }}" class="cart-link">
        🛍 Cart
    </a>

</header>

{% block content %}{% endblock %}

<footer>

    <h2>NAZIF'S SCENTS</h2>

    <p>
        Luxury-inspired fragrances for every occasion.
    </p>

    <p>
        © 2026 Nazif's Scents
    </p>

</footer>

</body>
</html>