{% extends "base.html" %}

{% block title %}
Cart | Nazif's Scents
{% endblock %}

{% block content %}

<section class="page-header">

    <p class="eyebrow">YOUR BAG</p>

    <h1>
        Shopping cart
    </h1>

</section>


<section class="cart">

    {% if products %}

        {% for product in products %}

        <div class="cart-item">

            <img
                src="{{ url_for(
                    'static',
                    filename='images/' + product.image
                ) }}"
                alt="{{ product.name }}"
            >

            <div>

                <p class="category">
                    {{ product.category }}
                </p>

                <h3>
                    {{ product.name }}
                </h3>

                <p>
                    {{ product.notes }}
                </p>

            </div>

            <strong>
                ${{ "%.2f"|format(product.price) }}
            </strong>

        </div>

        {% endfor %}


        <div class="cart-total">

            <h2>
                Total:
                ${{ "%.2f"|format(total) }}
            </h2>

            <a
                href="{{ url_for('checkout') }}"
                class="button"
            >
                CHECKOUT
            </a>

        </div>

    {% else %}

        <div class="empty">

            <h2>
                Your cart is empty.
            </h2>

            <p>
                Discover your next signature scent.
            </p>

            <a
                href="{{ url_for('shop') }}"
                class="button"
            >
                SHOP NOW
            </a>

        </div>

    {% endif %}

</section>

{% endblock %}