{% extends "base.html" %}

{% block title %}
Checkout | Nazif's Scents
{% endblock %}

{% block content %}

<section class="page-header">

    <p class="eyebrow">
        CHECKOUT
    </p>

    <h1>
        Complete your order
    </h1>

</section>


<section class="checkout">

    <form>

        <label>
            Full Name
        </label>

        <input type="text" required>


        <label>
            Email
        </label>

        <input type="email" required>


        <label>
            Delivery Address
        </label>

        <textarea required></textarea>


        <button class="button" type="submit">
            PLACE ORDER
        </button>

    </form>

</section>

{% endblock %}