{% extends "base.html" %}

{% block title %}
Services | Nazif's Scents
{% endblock %}

{% block content %}

<section class="page-header">

    <p class="eyebrow">
        OUR SERVICES
    </p>

    <h1>
        Fragrance services
    </h1>

</section>


<section class="intro">

    <h2>
        Find the right fragrance.
    </h2>

    <p>
        Browse our men's and women's collection,
        compare fragrance notes and discover
        something that suits your style.
    </p>

</section>

{% endblock %}