{% extends "base.html" %}

{% block title %}
Shop | Nazif's Scents
{% endblock %}


{% block content %}

<section class="page-header">

    <p>THE COLLECTION</p>

    <h1>
        Shop Fragrances
    </h1>

</section>


<div class="category-links">

    <a href="/shop">All</a>

    <a href="/shop?category=Men's">
        Men's
    </a>

    <a href="/shop?category=Women's">
        Women's
    </a>

    <a href="/shop?category=Unisex">
        Unisex
    </a>

</div>


<section class="products">

    <div class="product-grid">

        {% for product in products %}

        <div class="product-card">

            <a href="/product/{{ product.id }}">

                <img
                    src="{{ url_for(
                        'static',
                        filename='images/' + product.image
                    ) }}"
                    alt="{{ product.name }}"
                >

            </a>

            <p class="category">
                {{ product.category }}
            </p>

            <h3>
                {{ product.name }}
            </h3>

            <p>
                {{ product.notes }}
            </p>

            <strong>
                ${{ "%.2f"|format(product.price) }}
            </strong>

            <a
                href="/add/{{ product.id }}"
                class="add-button"
            >
                ADD TO CART
            </a>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}